<!DOCTYPE html>
<html>
<head>
    <title>Holiday Pangram Generator</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
@RenderBody()
</body>
</html>